<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>JS Bookshelf</title>
  <link rel="stylesheet" href="css/bootstrap-full.css" />
  <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
  <ul id="bookshelf">
    <!-- <li><img src="img/sample1.jpg" /></li> -->
  </ul>

  <a href="#searchDialog" role="button" class="btn" data-toggle="modal">Add book</a>
  
  <!-- Modal Dialog -->
  <div id="searchDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="searchDialogLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="searchDialogLabel">Search for new books</h3>
      <p>
        <form action="">
          <input type="search" autocomplete="off" placeholder="type book name" autofocus="on" />
          <button class="btn">Search</button>
        </form>
      </p>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Cover</td>
            <td>Title, Author</td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <!-- Footer not needed at the moment
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Add book</button>
    </div>
    -->
  </div>
  
  <!-- Script section -->
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="js/bookshelf.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://raw.github.com/documentcloud/underscore/master/underscore.js"></script>

  <script type="x-template" id="book-tpl">
    <% _.each(books, function(book) { %>
    <tr>
      <td><a href="<%= book.amazonUrl%>" target="_blank"><img src="<%= book.imgUrl %>" /></a></td>
      <td><%= book.title %><br><span class="author"><%= book.author %></span></td>
    </tr>
    <% }); %>
  </script>

</body>
</html>

