<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>JS Bookshelf</title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap-full.css" />
  <link rel="stylesheet" type="text/css" media="all" href="css/resetAndtext.css" />
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" type="text/css" media="all" href="css/960_16_col.css" />

  <!-- Script section -->
  <script data-main="js/main" src="js/assets/require-jquery.js"></script>
</head>
<body>
  <ul id="bookshelf" class="container_16"></ul>

  <a href="#searchDialog" role="button" class="btn" data-toggle="modal">Add book</a>

  <!-- Modal Dialog -->
  <div id="searchDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="searchDialogLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="searchDialogLabel">Search for new books</h3>
      <p>
        <form action="">
          <input type="search" autocomplete="off" placeholder="type book name" autofocus="on" />
          <button class="btn" id="searchButton">Search</button>
        </form>
      </p>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <tbody></tbody>
      </table>
    </div>
  </div>

  <!-- Templates -->
  <script type="x-template" id="bookshelf-tpl">
    <% _.each(books, function(book) { %>
    <li class="ui-state-default grid_4">
      <div class="book-thumb">
        <a href="<%= book.amazonLink %>" target="_blank" title="<%= book.title %>">
          <img src="<%= book.imageMedium %>" />
        </a>
        <a href="#" class="delete-icon" title="Remove from bookshelf"></a>
      </div>
    </li>
    <% }); %>
  </script>

  <script type="x-template" id="searchresult-tpl">
    <% _.each(books, function(book) { %>
    <tr>
      <td>
        <a href="<%= book.amazonLink%>" target="_blank" title="Open in Amazon"><img src="<%= book.imageMedium %>" /></a>
      </td>
      <td>
        <p>
          <%= book.title %><br />
          <span class="author"><%= book.author %></span>
        </p>
        <button class="btn btn-mini" type="button" data-id="<%= book.id %>"><i class="icon-plus"></i> Add</button>
      </td>
    </tr>
    <% }); %>
  </script>

</body>
</html>
